:root {

  /* VARIABLES */
  --bg-color-dark: #121214;
  --primary-color-dark: #29292E;
  --secondary-color-dark: #0A3442;
  --text-color-dark: #FFFFFF;
}
  
.dark__body--on {
  color: var(--text-color-dark);
  background-color: var(--bg-color-dark);
}