:root {

  /* VARIABLES */
  --bg-color: #FFFFFF;
  --primary-color: #E1E1E6;
  --secondary-color: #02799D;
  --text-color: #29292E;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}