@import url('./light.css');
/* @import url('./dark.css'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
:root {
  font-size: 62.5%;
  
  /* VARIABLES */
  /* --bg-color: #FFFFFF;
  --primary-color: #E1E1E6;
  --secondary-color: #02799D;
  --text-color: #29292E; */
}
  
body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}
  
.hide {
  display: none;
}

#toggle__theme {
  right: 3rem;
  top: 3rem;
  height: 4.4rem;
  width: 4.4rem;
  position: absolute;
}
  
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
 
main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr 1fr;
  gap: 19.2rem;
}
  
.timer {
  max-width: 32.1rem;
  align-self: center;
  justify-self: flex-end;
}

.timer__display {
  display: flex;
}
  
.timer__display span {
  font-size: 12.6166rem;
  line-height: 14.8rem;
}
  
.timer__controls {
  display: flex;
  justify-content: space-between;
}
  

#timer__controls__play,
#timer__controls__stop,
#timer__controls__plus,
#timer__controls__minus {
    width: 4.8rem;
    height: 4.8rem;
  }
  
  /*container*/
.cards {
  display:grid;
  grid-template-columns: 13.8rem 13.8rem;
  grid-row: auto auto;
  grid-column-gap: 3.2rem;
  grid-row-gap: 3.2rem;
  align-self: center;
  justify-self: flex-start;
}