* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
  
:root {
  font-size: 62.5%;
  
  /* VARIABLES LIGHT THEME */
  --bg-color: #FFFFFF;
  --primary-color: #E1E1E6;
  --secondary-color: #02799D;
  --text-color: #29292E;
  
  /* VARIABLES - DARK THEME*/
  --bg-color-dark: #121214;
  --primary-color-dark: #29292E;
  --secondary-color-dark: #0A3442;
  --text-color-dark: #FFFFFF;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr 1fr;
  gap: 19.2rem;

  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
}
  
.hide {
  display: none;
}

.toggle {
  width: 3.6rem;
  height: 3.6rem;
  position: absolute;
  top: 7rem;
  right: 7rem;
  display: grid;
  place-items: center;
  cursor: pointer;
}


.dark__body--on {
  color: var(--text-color-dark);
  background-color: var(--bg-color-dark);
}


button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
  
.timer {
  max-width: 32.1rem;
  align-self: center;
  justify-self: flex-end;
}

.timer__display {
  display: flex;
}
  
.timer__display span {
  font-size: 12.6166rem;
  line-height: 14.8rem;
}
  
.timer__controls {
  display: flex;
  justify-content: space-between;
}
  

.timer__controls__play,
.timer__controls__stop,
.timer__controls__plus,
.timer__controls__minus {
    width: 4.8rem;
    height: 4.8rem;
  }
  
  /* card container*/
.cards {
  display:grid;
  grid-template-columns: 13.8rem 13.8rem;
  grid-row: auto auto;
  grid-column-gap: 3.2rem;
  grid-row-gap: 3.2rem;
  align-self: center;
  justify-self: flex-start;
}


/* DARK THEME */

.container.dark {
  color: var(--text-color-dark);
  background-color: var(--bg-color-dark);
}

/* Color of the timer controls */
.container.dark .timer .timer__controls .timer__controls__play svg path,
.container.dark .timer .timer__controls .timer__controls__stop svg path,
.container.dark .timer .timer__controls .timer__controls__plus svg path,
.container.dark .timer .timer__controls .timer__controls__minus svg path {
  fill: #CCC4C4;
}

/* Unclicked | Card background color */
.container.dark .cards .card__forest--unclicked svg path,
.container.dark .cards .card__rain--unclicked svg path,
.container.dark .cards .card__cafe--unclicked svg path,
.container.dark .cards .card__fire--unclicked svg path {
  fill: #29292E;
}

/* Unclicked | Color of the graphic element inside card */
.container.dark .cards .card__forest--unclicked svg .card__icon,
.container.dark .cards .card__rain--unclicked svg .card__icon,
.container.dark .cards .card__cafe--unclicked svg .card__icon,
.container.dark .cards .card__fire--unclicked svg .card__icon {
  fill: #C4C4CC;
}

/* Unclicked | Color of the slider (circle + rect) */
.container.dark .cards .card__forest--unclicked svg circle,
.container.dark .cards .card__rain--unclicked svg circle,
.container.dark .cards .card__cafe--unclicked svg circle,
.container.dark .cards .card__fire--unclicked svg circle,
.container.dark .cards .card__forest--unclicked svg rect,
.container.dark .cards .card__rain--unclicked svg rect,
.container.dark .cards .card__cafe--unclicked svg rect,
.container.dark .cards .card__fire--unclicked svg rect {
  fill: #FFFFFF;
}

/* Clicked | Card background color */
.container.dark .cards .card__forest--clicked svg path,
.container.dark .cards .card__rain--clicked svg path,
.container.dark .cards .card__cafe--clicked svg path,
.container.dark .cards .card__fire--clicked svg path {
  fill: #0a3442;
}

/* Clicked | Color of the graphic element inside card */
.container.dark .cards .card__forest--clicked svg .card__icon,
.container.dark .cards .card__rain--clicked svg .card__icon,
.container.dark .cards .card__cafe--clicked svg .card__icon,
.container.dark .cards .card__fire--clicked svg .card__icon {
  fill: #C4C4CC;
}

/* Clicked | Color of the slider (circle + rect) */
.container.dark .cards .card__forest--clicked svg circle,
.container.dark .cards .card__rain--clicked svg circle,
.container.dark .cards .card__cafe--clicked svg circle,
.container.dark .cards .card__fire--clicked svg circle,
.container.dark .cards .card__forest--clicked svg rect,
.container.dark .cards .card__rain--clicked svg rect,
.container.dark .cards .card__cafe--clicked svg rect,
.container.dark .cards .card__fire--clicked svg rect {
  fill: #FFFFFF;
}

